USE [master]
GO
/****** Object:  Database [CreditosDB]    Script Date: 28/11/2025 22:51:01 ******/
CREATE DATABASE [CreditosDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CreditosDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\CreditosDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CreditosDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\CreditosDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CreditosDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CreditosDB]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 28/11/2025 22:51:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Asesores]    Script Date: 28/11/2025 22:51:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Asesores](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Telefono] [nvarchar](20) NULL,
	[Activo] [bit] NOT NULL,
 CONSTRAINT [PK_Asesores] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Financieras]    Script Date: 28/11/2025 22:51:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Financieras](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Codigo] [nvarchar](100) NULL,
	[TiempoEsperaMinutos] [int] NOT NULL,
	[Activa] [bit] NOT NULL,
 CONSTRAINT [PK_Financieras] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notificaciones]    Script Date: 28/11/2025 22:51:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notificaciones](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdAsesor] [int] NOT NULL,
	[IdSolicitud] [int] NOT NULL,
	[Mensaje] [nvarchar](500) NOT NULL,
	[FechaNotificacion] [datetime2](7) NOT NULL,
	[Leido] [bit] NOT NULL,
 CONSTRAINT [PK_Notificaciones] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RespuestasFinanciera]    Script Date: 28/11/2025 22:51:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RespuestasFinanciera](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdSolicitud] [int] NOT NULL,
	[Estado] [nvarchar](50) NOT NULL,
	[MontoAprobado] [decimal](18, 2) NULL,
	[TasaInteres] [decimal](5, 2) NULL,
	[FechaRespuesta] [datetime2](7) NOT NULL,
	[Observaciones] [nvarchar](max) NULL,
	[JsonCompleto] [nvarchar](max) NULL,
	[FechaProceso] [datetime2](7) NOT NULL,
	[CondicionesJson] [nvarchar](max) NULL,
	[CuotaMensual] [decimal](18, 2) NULL,
	[PlazoMeses] [int] NULL,
 CONSTRAINT [PK_RespuestasFinanciera] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Solicitudes]    Script Date: 28/11/2025 22:51:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Solicitudes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NumeroSolicitud] [nvarchar](20) NOT NULL,
	[IdAsesor] [int] NOT NULL,
	[NombreCliente] [nvarchar](200) NOT NULL,
	[IdFinanciera] [int] NOT NULL,
	[AnioVehiculo] [int] NULL,
	[MarcaVehiculo] [nvarchar](50) NULL,
	[ModeloVehiculo] [nvarchar](100) NULL,
	[PrecioVehiculo] [decimal](18, 2) NULL,
	[TipoVehiculo] [nvarchar](20) NULL,
 CONSTRAINT [PK_Solicitudes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 28/11/2025 22:51:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](100) NOT NULL,
	[PasswordHash] [nvarchar](256) NOT NULL,
	[Activo] [bit] NOT NULL,
	[FechaCreacion] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Usuarios] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Asesores_Email]    Script Date: 28/11/2025 22:51:02 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Asesores_Email] ON [dbo].[Asesores]
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_RespuestasFinanciera_IdSolicitud]    Script Date: 28/11/2025 22:51:02 ******/
CREATE NONCLUSTERED INDEX [IX_RespuestasFinanciera_IdSolicitud] ON [dbo].[RespuestasFinanciera]
(
	[IdSolicitud] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Solicitudes_IdAsesor]    Script Date: 28/11/2025 22:51:02 ******/
CREATE NONCLUSTERED INDEX [IX_Solicitudes_IdAsesor] ON [dbo].[Solicitudes]
(
	[IdAsesor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Solicitudes_IdFinanciera]    Script Date: 28/11/2025 22:51:02 ******/
CREATE NONCLUSTERED INDEX [IX_Solicitudes_IdFinanciera] ON [dbo].[Solicitudes]
(
	[IdFinanciera] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Solicitudes_NumeroSolicitud]    Script Date: 28/11/2025 22:51:02 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Solicitudes_NumeroSolicitud] ON [dbo].[Solicitudes]
(
	[NumeroSolicitud] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Usuarios_Username]    Script Date: 28/11/2025 22:51:02 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Usuarios_Username] ON [dbo].[Usuarios]
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Solicitudes] ADD  DEFAULT ((0)) FOR [IdFinanciera]
GO
ALTER TABLE [dbo].[RespuestasFinanciera]  WITH CHECK ADD  CONSTRAINT [FK_RespuestasFinanciera_Solicitudes_IdSolicitud] FOREIGN KEY([IdSolicitud])
REFERENCES [dbo].[Solicitudes] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RespuestasFinanciera] CHECK CONSTRAINT [FK_RespuestasFinanciera_Solicitudes_IdSolicitud]
GO
ALTER TABLE [dbo].[Solicitudes]  WITH CHECK ADD  CONSTRAINT [FK_Solicitudes_Asesores_IdAsesor] FOREIGN KEY([IdAsesor])
REFERENCES [dbo].[Asesores] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Solicitudes] CHECK CONSTRAINT [FK_Solicitudes_Asesores_IdAsesor]
GO
ALTER TABLE [dbo].[Solicitudes]  WITH CHECK ADD  CONSTRAINT [FK_Solicitudes_Financieras_IdFinanciera] FOREIGN KEY([IdFinanciera])
REFERENCES [dbo].[Financieras] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Solicitudes] CHECK CONSTRAINT [FK_Solicitudes_Financieras_IdFinanciera]
GO
USE [master]
GO
